Repository Koozzi/black-gomushin, pull requests merged in 2021-02, with the labels that each got.

#3 [FE]-React 환경설정
  front/black-gomushin/.gitignore
  front/black-gomushin/README.md
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/public/favicon.ico
  front/black-gomushin/public/index.html
  front/black-gomushin/public/logo192.png
  front/black-gomushin/public/logo512.png
  front/black-gomushin/public/manifest.json
  front/black-gomushin/public/robots.txt
  front/black-gomushin/src/App.css
  front/black-gomushin/src/App.js
  front/black-gomushin/src/App.test.js
  front/black-gomushin/src/api/.keep
  front/black-gomushin/src/assets/.keep
  front/black-gomushin/src/components/.keep
  front/black-gomushin/src/hooks/.keep
  front/black-gomushin/src/index.css
  front/black-gomushin/src/index.js
  front/black-gomushin/src/logo.svg
  front/black-gomushin/src/pages/.keep
  front/black-gomushin/src/reportWebVitals.js
  front/black-gomushin/src/setupTests.js
  front/black-gomushin/src/utils/.keep
  front/black-gomushin/yarn.lock
Labels: 💎 feat, 🖥 Front-end

#8 [AD]-React 환경설정
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/.gitignore
  admin/black-gomushin-ad/README.md
  admin/black-gomushin-ad/package-lock.json
  admin/black-gomushin-ad/package.json
  admin/black-gomushin-ad/public/favicon.ico
  admin/black-gomushin-ad/public/index.html
  admin/black-gomushin-ad/public/logo192.png
  admin/black-gomushin-ad/public/logo512.png
  admin/black-gomushin-ad/public/manifest.json
  admin/black-gomushin-ad/public/robots.txt
  admin/black-gomushin-ad/src/App.js
  admin/black-gomushin-ad/src/index.js
Labels: 💎 feat, 📊 Admin

#13 [FE]-로그인 페이지 기본폼 생성
  front/black-gomushin/.gitignore
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/src/App.js
  front/black-gomushin/src/components/LoginView/Button/login.jsx
  front/black-gomushin/src/components/LoginView/Button/signUp.jsx
  front/black-gomushin/src/components/LoginView/Div/modal.jsx
  front/black-gomushin/src/components/LoginView/Input/id.jsx
  front/black-gomushin/src/components/LoginView/Input/password.jsx
  front/black-gomushin/src/components/common/globalStyle.jsx
  front/black-gomushin/src/index.js
  front/black-gomushin/src/pages/.keep
  front/black-gomushin/src/pages/LoginView.jsx
  front/black-gomushin/src/reportWebVitals.js
Labels: 💎 feat, 🖥 Front-end

#15 [MO]-로그인, 회원가입 Widget UI
  mobile/integration_test/app_test.dart
  mobile/integration_test/driver.dart
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/lib/main.dart
  mobile/lib/pages/auth/auth_page.dart
  mobile/lib/services/sign_in_or_up.dart
  mobile/lib/themes/color_styles.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: 💎 feat, 📱 Mobile

#25 [FE]-redux 초기설정
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/src/actions/type.js
  front/black-gomushin/src/actions/user.js
  front/black-gomushin/src/components/.keep
Labels: 💎 feat, 🖥 Front-end

#26 [FE]-Sprint1
  front/README.md
  front/black-gomushin/.gitignore
  front/black-gomushin/README.md
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/public/favicon.ico
  front/black-gomushin/public/index.html
  front/black-gomushin/public/logo192.png
  front/black-gomushin/public/logo512.png
  front/black-gomushin/public/manifest.json
  front/black-gomushin/public/robots.txt
  front/black-gomushin/src/App.css
  front/black-gomushin/src/App.js
  front/black-gomushin/src/App.test.js
  front/black-gomushin/src/actions/type.js
  front/black-gomushin/src/actions/user.js
  front/black-gomushin/src/api/.keep
  front/black-gomushin/src/assets/.keep
  front/black-gomushin/src/components/LoginView/Button/login.jsx
  front/black-gomushin/src/components/LoginView/Button/signUp.jsx
  front/black-gomushin/src/components/LoginView/Div/modal.jsx
  front/black-gomushin/src/components/LoginView/Input/id.jsx
  front/black-gomushin/src/components/LoginView/Input/password.jsx
  front/black-gomushin/src/components/common/globalStyle.jsx
  front/black-gomushin/src/hooks/.keep
  front/black-gomushin/src/index.css
  front/black-gomushin/src/index.js
  front/black-gomushin/src/logo.svg
  front/black-gomushin/src/pages/LoginView.jsx
  front/black-gomushin/src/reportWebVitals.js
  front/black-gomushin/src/setupTests.js
  front/black-gomushin/src/utils/.keep
  front/black-gomushin/yarn.lock
Labels: 💎 feat, 🖥 Front-end

#29 [BE]-Sprint1
  back/.gitignore
  back/Dockerfile
  back/README.md
  back/app/__init__.py
  back/app/admin.py
  back/app/apps.py
  back/app/migrations/0001_initial.py
  back/app/migrations/0002_buyreservation_buysell_item_wanteditem.py
  back/app/migrations/0003_auto_20210206_1717.py
  back/app/migrations/0004_buyreservation_buysell_item_wanteditem.py
  back/app/migrations/__init__.py
  back/app/models.py
  back/app/serializers.py
  back/app/tests.py
  back/app/urls.py
  back/app/views.py
  back/core/__init__.py
  back/core/asgi.py
  back/core/settings.py
  back/core/urls.py
  back/core/wsgi.py
  back/manage.py
Labels: 💎 feat, 💾 Back-end

#30 [AD]-Sprint1
  admin/README.md
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/.gitignore
  admin/black-gomushin-ad/README.md
  admin/black-gomushin-ad/package-lock.json
  admin/black-gomushin-ad/package.json
  admin/black-gomushin-ad/public/favicon.ico
  admin/black-gomushin-ad/public/index.html
  admin/black-gomushin-ad/public/logo192.png
  admin/black-gomushin-ad/public/logo512.png
  admin/black-gomushin-ad/public/manifest.json
  admin/black-gomushin-ad/public/robots.txt
  admin/black-gomushin-ad/src/App.js
  admin/black-gomushin-ad/src/index.js
Labels: 💎 feat, 📊 Admin

#32 [FE]-로그인 상태관리
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/src/App.js
  front/black-gomushin/src/actions/type.js
  front/black-gomushin/src/actions/user.js
  front/black-gomushin/src/index.js
  front/black-gomushin/src/pages/LoginView.jsx
  front/black-gomushin/src/pages/MainView.jsx
  front/black-gomushin/src/reducers/index.js
  front/black-gomushin/src/reducers/user.js
  front/black-gomushin/src/store/index.js
  front/black-gomushin/src/utils/.keep
  front/black-gomushin/src/utils/axios.js
Labels: 💎 feat, 🖥 Front-end

#33 [FE]-AD-Image-Component
  front/black-gomushin/src/assets/img/sample-black.jpg
  front/black-gomushin/src/pages/MainView.jsx
Labels: 💎 feat, 🖥 Front-end

#43 [MO]-Main page widget
  mobile/lib/main.dart
  mobile/lib/pages/app.dart
  mobile/lib/pages/auth/auth_page.dart
  mobile/lib/pages/chat/chat.dart
  mobile/lib/pages/home/home.dart
  mobile/lib/pages/mypage/my_page.dart
  mobile/lib/pages/search/search.dart
  mobile/lib/themes/color_styles.dart
Labels: 💎 feat, 📱 Mobile

#45 [FE]-Header & MainView getItem
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/src/actions/user.js
  front/black-gomushin/src/assets/.keep
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/components/common/header.jsx
  front/black-gomushin/src/pages/LoginView.jsx
  front/black-gomushin/src/pages/MainView.jsx
  front/black-gomushin/src/reducers/user.js
  front/black-gomushin/src/utils/axios.js
  front/black-gomushin/src/utils/logout.js
  front/black-gomushin/src/utils/refresh.js
Labels: 💎 feat, 🖥 Front-end

#46 [FE]-FooterComponent 구축
  front/black-gomushin/src/components/common/footer.jsx
  front/black-gomushin/src/pages/MainView.jsx
Labels: 💎 feat, 🖥 Front-end

#47 [FE]-Sprint2
  front/black-gomushin/package-lock.json
  front/black-gomushin/package.json
  front/black-gomushin/src/App.js
  front/black-gomushin/src/actions/type.js
  front/black-gomushin/src/actions/user.js
  front/black-gomushin/src/assets/.keep
  front/black-gomushin/src/assets/img/sample-black.jpg
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/components/common/footer.jsx
  front/black-gomushin/src/components/common/header.jsx
  front/black-gomushin/src/index.js
  front/black-gomushin/src/pages/LoginView.jsx
  front/black-gomushin/src/pages/MainView.jsx
  front/black-gomushin/src/reducers/index.js
  front/black-gomushin/src/reducers/user.js
  front/black-gomushin/src/store/index.js
  front/black-gomushin/src/utils/.keep
  front/black-gomushin/src/utils/axios.js
  front/black-gomushin/src/utils/logout.js
  front/black-gomushin/src/utils/refresh.js
Labels: 💎 feat, 🖥 Front-end

#44 [MO]-Sprint2
  mobile/lib/main.dart
  mobile/lib/pages/app.dart
  mobile/lib/pages/auth/auth_page.dart
  mobile/lib/pages/chat/chat.dart
  mobile/lib/pages/home/home.dart
  mobile/lib/pages/mypage/my_page.dart
  mobile/lib/pages/search/search.dart
  mobile/lib/themes/color_styles.dart
Labels: 💎 feat, 📱 Mobile

#54 [BE]-Sprint2
  back/app/middleware.py
  back/app/migrations/0005_auto_20210214_1501.py
  back/app/migrations/0006_auto_20210214_1502.py
  back/app/models.py
  back/app/serializers.py
  back/app/urls.py
  back/app/views.py
  back/core/settings.py
Labels: 💎 feat, 💾 Back-end

#55 [AD]-Sprint2
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/package-lock.json
  admin/black-gomushin-ad/package.json
  admin/black-gomushin-ad/src/App.js
  admin/black-gomushin-ad/src/api.js
  admin/black-gomushin-ad/src/components/App.js
  admin/black-gomushin-ad/src/components/Navigation.js
  admin/black-gomushin-ad/src/components/Router.js
  admin/black-gomushin-ad/src/index.js
  admin/black-gomushin-ad/src/routes/Login.js
Labels: 💎 feat, 📊 Admin

#56 [BE]-Infinite Scroll
  back/app/views.py
  back/docker_build_push.sh
Labels: 💎 feat, 💾 Back-end

#57 [BE]-Status Code
  back/app/urls.py
  back/app/views.py
Labels: 💎 feat, 💾 Back-end

#58 [BE]-Fix CORS Issue
  back/core/settings.py
Labels: 💎 feat, 💾 Back-end

#60 [AD]-로그인 페이지 및 기능 구현
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/package-lock.json
  admin/black-gomushin-ad/package.json
  admin/black-gomushin-ad/src/Function/Refresh.js
  admin/black-gomushin-ad/src/api.js
  admin/black-gomushin-ad/src/components/App.js
  admin/black-gomushin-ad/src/components/Navigation.js
  admin/black-gomushin-ad/src/components/Router.js
  admin/black-gomushin-ad/src/routes/Items.js
  admin/black-gomushin-ad/src/routes/Login.js
  admin/black-gomushin-ad/src/routes/Logout.js
  admin/black-gomushin-ad/src/routes/Users.js
Labels: 💎 feat, 📊 Admin

#61 [FE]-Infinite Scroll
  front/black-gomushin/src/components/MainView/Div/ItemInfo.jsx
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/components/common/footer.jsx
  front/black-gomushin/src/components/common/globalStyle.jsx
  front/black-gomushin/src/components/common/header.jsx
  front/black-gomushin/src/pages/MainView.jsx
  front/black-gomushin/src/utils/axios.js
Labels: 💎 feat, 🖥 Front-end

#62 fix : view 디렉토리 변경
  back/app/urls.py
  back/app/views_item/views_item.py
  back/app/views_search/views_search.py
  back/app/views_user/views_user.py
Labels: 💎 feat, 💾 Back-end

#63 [FE]-Detail View 구축
  front/black-gomushin/src/App.js
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/pages/DetailView.jsx
Labels: 💎 feat, 🖥 Front-end

#64 [BE]-Item Search
  back/app/migrations/__init__.py
  back/app/serializers.py
  back/app/urls.py
  back/app/views.py
  back/app/views_item/views_item.py
  back/app/views_search/views_search.py
  back/app/views_user/views_user.py
Labels: 💎 feat, 💾 Back-end

#66 [AD]-메인화면 상품 구현
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/src/api.js
  admin/black-gomushin-ad/src/components/App.js
  admin/black-gomushin-ad/src/components/Navigation.js
  admin/black-gomushin-ad/src/components/Pictures.js
  admin/black-gomushin-ad/src/components/Router.js
  admin/black-gomushin-ad/src/routes/Items.js
  admin/black-gomushin-ad/src/routes/Login.js
  admin/black-gomushin-ad/src/routes/Logout.js
Labels: 💎 feat, 📊 Admin

#67 [FE]-SearchView 구현
  front/black-gomushin/src/App.js
  front/black-gomushin/src/components/MainView/Div/ItemInfo.jsx
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/components/SearchView/Button/applyButton.jsx
  front/black-gomushin/src/components/SearchView/Div/tag.jsx
  front/black-gomushin/src/components/SearchView/Input/priceInput.jsx
  front/black-gomushin/src/components/SearchView/Input/selectSizeButton.jsx
  front/black-gomushin/src/components/SearchView/Input/selectStateButton.jsx
  front/black-gomushin/src/components/common/header.jsx
  front/black-gomushin/src/hooks/.keep
  front/black-gomushin/src/hooks/useInfinite.jsx
  front/black-gomushin/src/index.js
  front/black-gomushin/src/pages/DetailView.jsx
  front/black-gomushin/src/pages/SearchView.jsx
  front/black-gomushin/src/utils/random.js
Labels: 💎 feat, 🖥 Front-end

#65 [BE]-Sprint3
  back/app/migrations/__init__.py
  back/app/serializers.py
  back/app/urls.py
  back/app/views.py
  back/app/views_item/views_item.py
  back/app/views_search/views_search.py
  back/app/views_user/views_user.py
  back/core/settings.py
  back/docker_build_push.sh
Labels: 💎 feat, 💾 Back-end

#68 [FE]-Sprint3
  front/black-gomushin/src/App.js
  front/black-gomushin/src/components/MainView/Div/ItemInfo.jsx
  front/black-gomushin/src/components/MainView/Div/ItemList.jsx
  front/black-gomushin/src/components/SearchView/Button/applyButton.jsx
  front/black-gomushin/src/components/SearchView/Div/tag.jsx
  front/black-gomushin/src/components/SearchView/Input/priceInput.jsx
  front/black-gomushin/src/components/SearchView/Input/selectSizeButton.jsx
  front/black-gomushin/src/components/SearchView/Input/selectStateButton.jsx
  front/black-gomushin/src/components/common/footer.jsx
  front/black-gomushin/src/components/common/globalStyle.jsx
  front/black-gomushin/src/components/common/header.jsx
  front/black-gomushin/src/hooks/.keep
  front/black-gomushin/src/hooks/useInfinite.jsx
  front/black-gomushin/src/index.js
  front/black-gomushin/src/pages/DetailView.jsx
  front/black-gomushin/src/pages/MainView.jsx
  front/black-gomushin/src/pages/SearchView.jsx
  front/black-gomushin/src/utils/axios.js
  front/black-gomushin/src/utils/random.js
Labels: 💎 feat, 🖥 Front-end

#69 [AD]-Sprint3
  admin/black-gomushin-ad/.eslintcache
  admin/black-gomushin-ad/package-lock.json
  admin/black-gomushin-ad/package.json
  admin/black-gomushin-ad/src/Function/Refresh.js
  admin/black-gomushin-ad/src/api.js
  admin/black-gomushin-ad/src/components/App.js
  admin/black-gomushin-ad/src/components/Navigation.js
  admin/black-gomushin-ad/src/components/Pictures.js
  admin/black-gomushin-ad/src/components/Router.js
  admin/black-gomushin-ad/src/routes/Login.js
  admin/black-gomushin-ad/src/routes/Logout.js
  admin/black-gomushin-ad/src/routes/Users.js
Labels: 💎 feat, 📊 Admin

#70 [BE]-FULLTEXT Indexing
  back/app/admin.py
  back/app/django_fulltext_search.py
  back/app/migrations/0001_initial.py
  back/app/migrations/0002_auto_20210224_0930.py
  back/app/migrations/0002_buyreservation_buysell_item_wanteditem.py
  back/app/migrations/0003_auto_20210206_1717.py
  back/app/migrations/0003_delete_item.py
  back/app/migrations/0004_buyreservation_buysell_item_wanteditem.py
  back/app/migrations/0004_item.py
  back/app/migrations/0005_auto_20210214_1501.py
  back/app/migrations/0005_delete_item.py
  back/app/migrations/0006_auto_20210214_1502.py
  back/app/migrations/0006_item.py
  back/app/migrations/0007_delete_item.py
  back/app/migrations/0008_item.py
  back/app/migrations/0009_delete_item.py
  back/app/migrations/0010_item.py
  back/app/migrations/0011_delete_item.py
  back/app/migrations/0012_item.py
  back/app/migrations/0013_delete_item.py
  back/app/migrations/0014_item.py
  back/app/migrations/0015_delete_item.py
  back/app/migrations/0016_item.py
  back/app/migrations/0017_delete_item.py
  back/app/migrations/0018_item.py
  back/app/migrations/0019_delete_item.py
  back/app/migrations/0020_item.py
  back/app/migrations/0021_delete_item.py
  back/app/migrations/0022_item.py
  back/app/migrations/0023_test.py
  back/app/migrations/0024_delete_test.py
  back/app/migrations/0025_test.py
  back/app/migrations/0026_fulltesttest.py
  back/app/migrations/0027_delete_fulltesttest.py
  back/app/migrations/0028_fulltexttest.py
  back/app/migrations/__init__.py
  back/app/models.py
  back/app/serializers.py
  back/app/urls.py
  back/app/views_item/views_item.py
  back/app/views_search/views_search.py
  back/app/views_test/views_test.py
  back/core/settings.py
  back/docker_build_push.sh
Labels: 💎 feat, 💾 Back-end
